
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Selene/_Layout.cshtml";
}

<!-- ***** Breadcumb Area Start ***** -->
<div class="selene-breadcumb-area">
    <!-- Shape -->
    <div class="welcome-bg-shape">
        <img class="welcome-first-shape" src="/template/selene/img/core-img/welcome-bg-1.png" alt="">
        <img class="welcome-second-shape" src="/template/selene/img/core-img/welcome-bg-2.png" alt="">
    </div>

    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent text-right">
                    <h2>Blog</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">About Us</a></li>
                            <li class="breadcrumb-item active" aria-current="page">The Team</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Blog Area Start ***** -->
<section class="blog-area section_padding_100">
    <div class="container">
        <div class="row">
            <!-- Single Blog Start -->
            <div class="col-12">
                <div class="single-blog">
                    <h2>A simple application easy to use</h2>
                    <div class="post-meta">
                        <h6> <a href="#">October 22, 2017</a> In <a href="#">Design Inspiration</a> By <a href="#">Lore Papp</a></h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet.</p>
                    <div class="post-thumb">
                        <img src="/template/selene/img/bg-img/blog-1.png" alt="">
                        <!-- Overlay -->
                        <div class="post-overlay">
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Start -->
            <div class="col-12">
                <div class="single-blog">
                    <h2>One more step before the launch</h2>
                    <div class="post-meta">
                        <h6> <a href="#">October 22, 2017</a> In <a href="#">Design Inspiration</a> By <a href="#">Lore Papp</a></h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet.</p>
                    <div class="post-thumb">
                        <img src="/template/selene/img/bg-img/blog-2.png" alt="">
                        <!-- Overlay -->
                        <div class="post-overlay">
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Start -->
            <div class="col-12">
                <div class="single-blog">
                    <h2>Selene is present on Aplle store</h2>
                    <div class="post-meta">
                        <h6> <a href="#">October 22, 2017</a> In <a href="#">Design Inspiration</a> By <a href="#">Lore Papp</a></h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet.</p>
                    <div class="post-thumb">
                        <img src="/template/selene/img/bg-img/blog-3.png" alt="">
                        <!-- Overlay -->
                        <div class="post-overlay">
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="aboutUs-btn text-center mb-100">
                    <a href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area Start ***** -->
