
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Selene/_Layout.cshtml";
}

<!-- ***** Breadcumb Area Start ***** -->
<div class="selene-breadcumb-area">
    <!-- Shape -->
    <div class="welcome-bg-shape">
        <img class="welcome-first-shape" src="/template/selene/img/core-img/welcome-bg-1.png" alt="">
        <img class="welcome-second-shape" src="/template/selene/img/core-img/welcome-bg-2.png" alt="">
    </div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent text-right">
                    <h2>Services</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** About Us Area Start ***** -->
<section class="aboutUs-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="app-features-content">
                    <h2>All the services you need <br>and more</h2>

                    <div class="row">
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-1.png" alt="">
                                <h5>No1 in Sales!</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-2.png" alt="">
                                <h5>Online Marketing</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-3.png" alt="">
                                <h5>Modern Design</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-4.png" alt="">
                                <h5>Documented</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-5.png" alt="">
                                <h5>Easy to use</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-6.png" alt="">
                                <h5>Google Font</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-1.png" alt="">
                                <h5>No1 in Sales!</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-2.png" alt="">
                                <h5>Online Marketing</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-3.png" alt="">
                                <h5>Modern Design</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-4.png" alt="">
                                <h5>Documented</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-5.png" alt="">
                                <h5>Easy to use</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                        <!-- Single Feature Area -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-feature-area">
                                <img src="/template/selene/img/bg-img/feature-6.png" alt="">
                                <h5>Google Font</h5>
                                <p>Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->
<!-- ***** Service Area Start ***** -->
<section class="services-content-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="services-content-mobile-area">
                    <img src="/template/selene/img/bg-img/wel-dev-1.png" alt="">
                    <div class="service-mobile-content">
                        <!-- Single Content -->
                        <div class="singleMobile-content">
                            <p>Creative</p>
                        </div>
                        <!-- Single Content -->
                        <div class="singleMobile-content">
                            <p>Responsive</p>
                        </div>
                        <!-- Single Content -->
                        <div class="singleMobile-content">
                            <p>Modern</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="services-text">
                    <h2>A simple application easy to use</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.Lorem ipsum dolor sit amet.</p>
                    <!-- Progress Bar Content Area -->
                    <div class="services-progress-bar">
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <h6>Creativity</h6>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="70"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <h6>Usability</h6>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="100"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <h6>SEO</h6>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="60"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <h6>Marketing</h6>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->
